<body>
  <button mat-button [routerLink]="['../userlist']" >Back</button>
    <div class="loginForm">
        <form [formGroup]="userAddForm" (ngSubmit)="onSubmit()" autocomplete="nope">
            <mat-form-field appearance="fill">
                <mat-label>Hospital</mat-label>
                <mat-select formControlName="hospitalId" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let hospital of hospitals" [value]="hospital.id">
                    {{hospital.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="f.hospitalId.hasError('required')">Please choose Hospital</mat-error>
              </mat-form-field>
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input required formControlName="firstName" matInput placeholder="example@domain.com" >
                <mat-error *ngIf="f.firstName.hasError('required')">Required</mat-error>
            </mat-form-field><br>
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input required formControlName="lastName" matInput >
                <mat-error *ngIf="f.lastName.hasError('required')">Required</mat-error>
            </mat-form-field><br>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input required formControlName="email" matInput >
                <mat-error *ngIf="f.email.hasError('required')">Required</mat-error>
                <mat-error *ngIf="f.email.hasError('email')">Enter a valid email</mat-error>
                <mat-error *ngIf="f.email.errors?.emailExists">Email Exist.</mat-error>
            </mat-form-field><br>
            <mat-form-field>
                <mat-label>Designation</mat-label>
                <input required formControlName="designation" matInput>
                <mat-error *ngIf="f.designation.hasError('required')">Required</mat-error>
            </mat-form-field><br>
            <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <input required formControlName="phoneNumber" matInput>
                <mat-error *ngIf="f.phoneNumber.hasError('required')">Required</mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="fill">
                <mat-label>Joining Date</mat-label>
                <input formControlName="joiningDate" matInput [matDatepicker]="picker" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="f.joiningDate.hasError('required')">Please choose Joinning Date</mat-error>
              </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input required formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error></mat-error>
            </mat-form-field><br>
            <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input required formControlName="confirmPassword" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="f.confirmPassword.hasError('required')">Required</mat-error>
                <mat-error *ngIf="userAddForm.errors?.identityRevealed"></mat-error>
            </mat-form-field>
            <small style="margin-left: 15px;" *ngIf="f.confirmPassword.touched || userAddForm.errors?.identityRevealed">
              <mat-error style="margin-left: 15px;" *ngIf="userAddForm.errors?.identityRevealed">Passwords do not match</mat-error>
            </small><br>
            <mat-form-field appearance="fill">
                <mat-label>Role</mat-label>
                <mat-select formControlName="role" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let role of roles" [value]="role.roleName">
                    {{role.roleName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="f.role.hasError('required')">Please choose a Role</mat-error>
              </mat-form-field>

                <mat-checkbox formControlName="isActive" class="active">Active</mat-checkbox>

                <br/><button mat-raised-button color="primary" type="submit">ADD</button>
            
        </form>    
    </div>
</body>