body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	margin: 0;
	padding: 0;
}

div {
	width: 100%;
}

h3 {
	padding: 0px;
	margin: 1px;
}

textarea {
	padding-left: 2px;
	margin: 0px 0 5px 0px;
	width: 93%;
	height: 90px;
}

div:nth-child(odd) {
	background-color: rgb(246, 248, 246);
}

div:nth-child(even) {
	background-color: rgb(245, 248, 247);
}

#container {
	width: 100%;  
}
.bottomborder {
	border-bottom: 1px solid black;
}
#head {
	padding: 2px 0px 2px 0px;
}

#head > h1,
#head > p,
#head > h2 {
	text-align: center;
}

#nav {
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 2px 0 2px 0;
}

#nav > p:first-child {
	float: left !important;
	margin-left: 20px;
}

#nav > p:last-child {
	float: right;
	margin-right: 20px;
}

#nav::after {
	content: '';
	clear: both;
	display: table;
}

#content {
	height: 500px;
}

#aside {
	width: 30%;
	height: 100%;
	box-sizing: border-box;
	float: left;
	border-right: 1px solid black;
}

#main {
	width: 70%;
	height: 100%;
	box-sizing: border-box;
	float: left;
	position: relative;
}
#main > textarea {
	
	padding: 0px;
	box-sizing: border-box;
	width: 95%;
	height: 60%;
}

#aside > textarea {
	
	padding: 0;
	box-sizing: border-box;
	width: 95%;
	height: 30%;
}
.rel {
	bottom: 25px;

}

.rel > textarea {
	padding: 0;
	box-sizing: border-box;
	width: 95%;
	height: 70px;
}
.button1 {
	display: inline;
    width: 100px;
    margin: 2px;
    padding: 2px;
    align-items: center;
	float: left;
	margin-right: 40px;

}
.button2 {
	display: inline;
    width: 100px;
    margin: 2px;
    padding: 2px;
    align-items: center;
	float: right;
	margin-right: 40px;

}
textarea {
	padding: 12px 20px !important; 
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 14px;
  }
