
<body>
    <button mat-button [routerLink]="['../../list']" >Back</button>
      <div class="loginForm">
          <form [formGroup]="prescriptionUpdateForm" (ngSubmit)="onSubmit()" autocomplete="nope">
              <mat-form-field appearance="fill">
                  <mat-label>Hospital</mat-label>
                  <mat-select formControlName="hospitalId" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let hospital of hospitals" [value]="hospital.id">
                      {{hospital.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="f.hospitalId.hasError('required')">Please choose Hospital</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Patient Id</mat-label>
                    <mat-select formControlName="patientId" required>
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let patient of patients" [value]="patient.id">
                        {{patient.id}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f.patientId.hasError('required')">Please choose Hospital</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Visit Entry Id</mat-label>
                    <mat-select formControlName="visitEntryId" required>
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let visitEntry of visitEntries" [value]="visitEntry.id">
                        {{visitEntry.id}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f.visitEntryId.hasError('required')">Please choose Hospital</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Physical State ID</mat-label>
                    <mat-select formControlName="physicalStateId" required>
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let physicalState of physicalStates" [value]="physicalState.id">
                        {{physicalState.id}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f.physicalStateId.hasError('required')">Please choose Hospital</mat-error>
                  </mat-form-field>
              <mat-form-field>
                  <mat-label>Doctor Observation</mat-label>
                  <input required formControlName="doctorsObservation" matInput >
                  <mat-error *ngIf="f.doctorsObservation.hasError('required')">Required</mat-error>
              </mat-form-field><br>
              <mat-form-field>
                  <mat-label>Advice Medication</mat-label>
                  <input [value]="prescription.adviceMedication" required formControlName="adviceMedication" matInput >
                  <mat-error *ngIf="f.adviceMedication.hasError('required')">Required</mat-error>
              </mat-form-field><br>
              <mat-form-field>
                  <mat-label>Advice Test</mat-label>
                  <input required formControlName="adviceTest" matInput >
                  <mat-error *ngIf="f.adviceTest.hasError('required')">Required</mat-error>
              </mat-form-field><br>
              <mat-form-field>
                  <mat-label>Note</mat-label>
                  <input required formControlName="note" matInput>
                  <mat-error *ngIf="f.note.hasError('required')">Required</mat-error>
              </mat-form-field><br>
                  <br/><button mat-raised-button color="primary" type="submit">Update</button>
              
          </form>    
      </div>
  </body>