<div>
  <form [formGroup]="prescriptionUpdateForm" (ngSubmit)="onSubmit()">
<body id="print-section">
  <div id="container">
      <div id="head">
          <h1>{{prescription.hospitalName}}</h1>
          <p>Doctor: {{prescription.doctorFirstName}} {{prescription.doctorLastName}}</p>
      </div>
      <div id="nav" *ngFor="let prescriptionVital of prescription.physicalStat">
          <p> <strong> Patient Name: </strong>{{prescription.patientFirstName}} {{prescription.patientLastName}} </p>
          <p>
            Age: {{prescription.patientAge}}
          | Body Temperature: {{prescriptionVital.bodyTemparature}}
          | BMI: {{prescriptionVital.bmi}}
          | spO2: {{prescriptionVital.spO2}} 
          | Blood Pressure: {{prescriptionVital.bloodPressure}} 
          | Pulse Rate: {{prescriptionVital.pulseRate}}
          </p>
      </div>
      <div id="content">
          <div id="aside">
              <h3>Cc</h3>
              <textarea formControlName="doctorsObservation" style="white-space: pre-wrap;"></textarea>
              <h3>Advice Test</h3>
              <textarea formControlName="adviceTest" style="white-space: pre-wrap;"></textarea>
          </div>
          <div id="main">
            <h3>Rx</h3>
            <textarea formControlName="adviceMedication"></textarea>
              <div class="rel">
                  <h3>Note</h3>
                  <textarea formControlName="note"></textarea>
              </div>
            </div>
          </div>
          
        </div>
      </body>
      <div>
        <button 
        mat-raised-button
        class="button1" color="success" type="button" [routerLink]="['../../list']">
        Back To List
      </button>

        <button
         mat-raised-button
          class="button2" color="primary" 
          type="submit"
          [useExistingCss]="true" 
          printSectionId="print-section"  
          ngxPrint
          >SAVE</button></div>
</form>
</div>
