<body>
    <button mat-button [routerLink]="['../../hospitals']" >Back</button>
      <div class="loginForm">
          <form [formGroup]="updateHospitalForm" (ngSubmit)="onSubmit()">
              <mat-form-field>
                  <mat-label>Hospital Name</mat-label>
                  <input [value]="hospital.name" required formControlName="name" matInput maxlength="80">
                  <mat-error *ngIf="f.name.hasError('required')">Required</mat-error>
                  <mat-error *ngIf="f.name.hasError('maxlength')">Maximum 80 charecter</mat-error>
              </mat-form-field><br>
              <mat-form-field>
                  <mat-label>Address</mat-label>
                  <input required formControlName="address" matInput >
                  <mat-error *ngIf="f.address.hasError('required')">Required</mat-error>
                  <mat-error *ngIf="f.address.hasError('maxlength')">Maximum 200 charecter</mat-error>
              </mat-form-field><br>
              <mat-form-field>
                  <mat-label>Upazila</mat-label>
                  <input required formControlName="upazilla" matInput >
                  <mat-error *ngIf="f.upazilla.hasError('required')">Required</mat-error>
                  <mat-error *ngIf="f.upazilla.hasError('maxlength')">Maximum 50 charecter</mat-error>
              </mat-form-field><br>
              <mat-form-field>
                  <mat-label>District</mat-label>
                  <input required formControlName="district" matInput>
                  <mat-error *ngIf="f.district.hasError('required')">Required</mat-error>
                  <mat-error *ngIf="f.district.hasError('maxlength')">Maximum 50 charecter</mat-error>
              </mat-form-field><br>
                  <mat-checkbox formControlName="isActive" class="active">Active</mat-checkbox>
  
                  <br/><button mat-raised-button color="accent" type="submit">Save</button>
              
          </form>    
      </div>
  </body>