


<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://outreachforall-my.sharepoint.com/personal/admin_outreachforall_org/Documents/Knowledge%20Hub%20Presentation/Capture.JPG" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDialog()">SHARE</button>
    </mat-card-actions>
  </mat-card>
  <iframe src="https://outreachforall-my.sharepoint.com/personal/admin_outreachforall_org/_layouts/15/Doc.aspx?sourcedoc={592d97ff-38d3-46b2-9912-fc16ee233122}&amp;action=embedview&amp;wdAr=1.7777777777777777" width="476px" height="288px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>