#toolbar {
  background-color: #eae0c8;
}
#logo {
  border-radius: 4px;
  margin-bottom: 5px;
  width: 85px;
}
#logo:hover {
  cursor: pointer;
}
.menu-spacer {
  flex: 1 1 auto;
}
.active{
border-bottom: 5px solid white;
}
.mat-button:hover{
background-color: #ebcd89;
color: #000000 ;
}
.mat-button {
  border: 1px solid rgb(0, 0, 0);
  margin: 5px;
}
/* .router-link-active{
  background-color: white;
  color: #3f51b5 ;
} */