<body>
    <button mat-button [routerLink]="['../../userlist']" >Back</button>
      <div class="loginForm">
          <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()" autocomplete="nope">
              <mat-form-field appearance="fill">
                  <mat-label>Hospital</mat-label>
                  <mat-select formControlName="hospitalId" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let hospital of hospitals" [value]="hospital.id">
                      {{hospital.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="f.hospitalId.hasError('required')">Please choose Hospital</mat-error>
                </mat-form-field>
              <mat-form-field>
                  <mat-label>First Name</mat-label>
                  <input formControlName="firstName" matInput placeholder="example@domain.com" >
                  <mat-error></mat-error>
              </mat-form-field><br>
              <mat-form-field>
                  <mat-label>Last Name</mat-label>
                  <input formControlName="lastName" matInput >
                  <mat-error></mat-error>
              </mat-form-field><br>
              <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input formControlName="email" matInput >
                  <mat-error></mat-error>
              </mat-form-field><br>
              <mat-form-field>
                  <mat-label>Designation</mat-label>
                  <input formControlName="designation" matInput>
                  <mat-error></mat-error>
              </mat-form-field><br>
              <mat-form-field>
                  <mat-label>Phone Number</mat-label>
                  <input formControlName="phoneNumber" matInput>
                  <mat-error></mat-error>
              </mat-form-field><br>
              <mat-form-field appearance="fill">
                  <mat-label>Role</mat-label>
                  <mat-select formControlName="role" required>
                    <mat-option>--</mat-option>
                    <mat-option  *ngFor="let role of roles" [value]="role.roleName">
                      {{role.roleName}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="f.role.hasError('required')">Please choose a Role</mat-error>
                </mat-form-field>
  
                  <mat-checkbox [checked]= "updateUser.role" class="active">Active</mat-checkbox>
  
                  <br/><button mat-raised-button color="primary" type="submit">Save</button>
              
          </form>    
      </div>
  </body>