<div>
  <div >
<body id="container">
  <div id="print-section">
  <div>
      <div id="head">
          <h1>{{prescriptionDetails.hospitalName}}</h1>
          <p>Doctor: {{prescriptionDetails.doctorFirstName}} {{prescriptionDetails.doctorLastName}}</p>
      </div>
      <div id="nav" *ngFor="let prescriptionDetailsVital of prescriptionDetails.physicalStat">
          <p> <strong> Patient Name: </strong>{{prescriptionDetails.patientFirstName}} {{prescriptionDetails.patientLastName}} </p>
          <p>
              Age: {{prescriptionDetails.patientAge}}
            | Body Temperature: {{prescriptionDetails.bodyTemparature}}
            | BMI: {{prescriptionDetailsVital.bmi}}
            | spO2: {{prescriptionDetailsVital.spO2}} 
            | Blood Pressure: {{prescriptionDetailsVital.bloodPressure}} 
            | Pulse Rate: {{prescriptionDetailsVital.pulseRate}}
            </p>
      </div>
      <div id="content">
          <div id="aside">
              <h3>Cc</h3>
              <textarea readonly style="white-space: pre-wrap;">{{prescriptionDetails.doctorsObservation}}</textarea>
              <h3>Advice Test</h3>
              <textarea readonly style="white-space: pre-wrap;">{{prescriptionDetails.adviceTest}}</textarea>
          </div>
          <div id="main">
            <h3>Rx</h3>
            <textarea readonly>{{prescriptionDetails.adviceMedication}}</textarea>
              <div class="rel">
                  <h3>Note</h3>
                  <textarea readonly>{{prescriptionDetails.note}}</textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button 
          mat-raised-button
          class="button1" color="success"  [routerLink]="['../../list']" >
          Back To List
      </button>
      <button 
          mat-raised-button
          class="button2" color="primary" 
          type="submit" 
          [useExistingCss]="true" 
          printSectionId="print-section"  
          ngxPrint>
          Print
      </button>
</body>
</div>
</div>
