<body>
    <button mat-button [routerLink]="['/patient']" >Back</button>
      <div class="loginForm">
          <form [formGroup]="patientAddForm" (ngSubmit)="onSubmit()">
              <mat-form-field class="col-firstName" appearance="fill">
                  <mat-label>First Name</mat-label>
                  <input required formControlName="firstName" matInput>
                  <mat-error *ngIf="f.firstName.hasError('required')">Required</mat-error>
              </mat-form-field>
              <mat-form-field class="col-lastName" appearance="fill">
                <mat-label>Last Name</mat-label>
                <input formControlName="lastName" matInput>
                <mat-error *ngIf="f.lastName.hasError('required')">Required</mat-error>
            </mat-form-field>
            <mat-form-field class="col-branchId" appearance="fill">
              <mat-label>Branch</mat-label>
              <mat-select formControlName="branchId" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let branch of branches" [value]="branch.id">
                  {{branch.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="f.branchId.hasError('required')">Please choose Branch</mat-error>
            </mat-form-field>
              <mat-form-field class="col-nid" appearance="fill">
                <mat-label>NID</mat-label>
                <input  formControlName="nid" matInput >
                <mat-error *ngIf="f.nid.hasError('required')">Required</mat-error>
            </mat-form-field>
            <mat-form-field class="col-address" appearance="fill">
              <mat-label>Address</mat-label>
              <input style="overflow: scroll;" formControlName="address" matInput>
              <mat-error *ngIf="f.address.hasError('required')">Required</mat-error>
          </mat-form-field>
              <mat-form-field class="col-mobileNumber" appearance="fill">
                  <mat-label>Mobile Number</mat-label>
                  <input formControlName="mobileNumber" matInput >
                  <mat-error *ngIf="f.mobileNumber.hasError('required')">Required</mat-error>
              </mat-form-field>
              <mat-form-field class="col-doB" appearance="fill">
                <mat-label>Date Of Birth</mat-label>
                <input formControlName="doB" matInput [matDatepicker]="picker" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="f.doB.hasError('required')">Please choose a Date</mat-error>
              </mat-form-field>
            <mat-form-field class="col-gender" appearance="fill">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender" required>
                  <mat-option>--</mat-option>
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Female">Female</mat-option>
                  <mat-option value="Others">Others</mat-option>
                </mat-select>
                <mat-error *ngIf="f.gender.hasError('required')">Required</mat-error>
            </mat-form-field>
            <mat-form-field class="col-maritalStatus" appearance="fill">
                <mat-label>Marital Status</mat-label>
                <mat-select formControlName="maritalStatus">
                  <mat-option>--</mat-option>
                  <mat-option value="Married">Married</mat-option>
                  <mat-option value="Single">Single</mat-option>
                  <mat-option value="Widowed">Widowed</mat-option>
                  <mat-option value="Separated">Separated</mat-option>
                  <mat-option value="Divorced">Divorced</mat-option>
                </mat-select>
                <mat-error *ngIf="f.maritalStatus.hasError('required')">Required</mat-error>
            </mat-form-field>
            <mat-form-field class="col-bloodGroup" appearance="fill">
                <mat-label>Blood Group</mat-label>
                <mat-select formControlName="bloodGroup">
                  <mat-option>--</mat-option>
                  <mat-option value="A RhD positive (A+)">A RhD positive (A+)</mat-option>
                  <mat-option value="A RhD negative (A-)">A RhD negative (A-)</mat-option>
                  <mat-option value="B RhD positive (B+)">B RhD positive (B+)</mat-option>
                  <mat-option value="B RhD negative (B-)">B RhD negative (B-)</mat-option>
                  <mat-option value="O RhD positive (O+)">O RhD positive (O+)</mat-option>
                  <mat-option value="O RhD negative (O-)">O RhD negative (O-)</mat-option>
                </mat-select>
                <mat-error *ngIf="f.bloodGroup.hasError('required')">Required</mat-error>
            </mat-form-field>
            <mat-form-field class="col-note" appearance="fill">
              <mat-label>Note</mat-label>
              <input formControlName="note" matInput >
              <mat-error *ngIf="f.note.hasError('required')">Required</mat-error>
          </mat-form-field>
<!-- checkBox -->
            <mat-checkbox formControlName="primaryMember" class="col-primaryMember">Primary Member</mat-checkbox><br>
            <mat-checkbox formControlName="isActive" class="col-isActive">Active</mat-checkbox>

            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
<!-- Patient Vital -->
      <h2>Vital</h2>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <p>Height: </p>
         </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Feet</mat-label>
              <input formControlName="height" matInput >
              <mat-error *ngIf="f.height.hasError('required')">Required</mat-error>
          </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance="fill">
              <mat-label>Inches</mat-label>
              <input formControlName="height" matInput >
              <mat-error *ngIf="f.height.hasError('required')">Required</mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>

          <mat-form-field class="col-v-weight" appearance="fill">
              <mat-label>Weight</mat-label>
              <input formControlName="weight" matInput>
              <mat-error *ngIf="f.weight.hasError('required')">Required</mat-error>
          </mat-form-field>
        <mat-form-field class="col-v-spO2" appearance="fill">
            <mat-label>SpO2</mat-label>
            <input type="number" formControlName="spO2" matInput >
            <mat-error *ngIf="f.spO2.hasError('required')">Required</mat-error>
        </mat-form-field>
        <mat-form-field class="col-v-pulseRate" appearance="fill">
            <mat-label>Pulse Rate</mat-label>
            <input type="number" formControlName="pulseRate" matInput >
            <mat-error *ngIf="f.pulseRate.hasError('required')">Required</mat-error>
        </mat-form-field>
        <!-- checkBox -->
        <br/><button mat-raised-button color="primary" type="submit">ADD</button>
          </form>    
      </div>
  </body>