<body>
    <button mat-button [routerLink]="['/patient']" >Back</button>
      <div class="loginForm">
          <form [formGroup]="patientAddForm" (ngSubmit)="onSubmit()">
              <mat-form-field class="col-firstName" appearance="fill">
                  <mat-label>First Name</mat-label>
                  <input required formControlName="firstName" matInput>
                  <mat-error *ngIf="f.firstName.hasError('required')">Required</mat-error>
                  <mat-error *ngIf="f.firstName.hasError('maxlength')">Maximum Length 40 Charecter</mat-error>
              </mat-form-field>
              <mat-form-field class="col-lastName" appearance="fill">
                <mat-label>Last Name</mat-label>
                <input formControlName="lastName" matInput>
                <mat-error *ngIf="f.lastName.hasError('maxlength')">Maximum Length 40 Charecter</mat-error>
                <mat-error *ngIf="f.lastName.hasError('required')">Required</mat-error>
            </mat-form-field>
            <mat-form-field class="col-branchId" appearance="fill">
              <mat-label>Branch</mat-label>
              <mat-select formControlName="branchId" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let branch of branches" [value]="branch.id">
                  {{branch.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="f.branchId.hasError('required')">Please choose Branch</mat-error>
            </mat-form-field>
              <mat-form-field class="col-nid" appearance="fill">
                <mat-label>NID</mat-label>
                <input formControlName="nid" matInput maxlength="25">
                <mat-error *ngIf="f.nid.hasError('maxlength')">Maximum 25 Charecter</mat-error>
                <mat-error *ngIf="f.nid.hasError('pattern')">Please input valid number</mat-error>
            </mat-form-field>
            <mat-form-field class="col-address" appearance="fill">
              <mat-label>Address</mat-label>
              <input style="overflow: scroll;" formControlName="address" matInput>
              <mat-error *ngIf="f.address.hasError('maxlength')">Maximum 200 Charecter</mat-error>
              <mat-error *ngIf="f.address.hasError('required')">Required</mat-error>
          </mat-form-field>
          <mat-form-field class="col-division" appearance="fill">
            <mat-label>Division</mat-label>
            <!-- (click)="loadUpazilaBySelectDistrict(upazila.id)" -->
            <mat-select formControlName="divisionId" #chooseddivValue (valueChange)="loadDistrictBySelectDivision(chooseddivValue.value)">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let division of divisions" [value]="division.id">
                {{division.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-district" appearance="fill">
            <mat-label>District</mat-label>
            <!-- (click)="loadUpazilaBySelectDistrict(upazila.id)" -->
            <mat-select formControlName="districtId" #choosedValue (valueChange)="loadUpazilaBySelectDistrict(choosedValue.value)">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let district of districts" [value]="district.id">
                {{district.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-upazila" appearance="fill">
            <mat-label>Upazila</mat-label>
            <mat-select formControlName="upazilaId" >
              <mat-option>--</mat-option>
              <mat-option *ngFor="let upazila of upazilas" [value]="upazila.id" >
                {{upazila.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
              <mat-form-field class="col-mobileNumber" appearance="fill">
                  <mat-label>Mobile Number</mat-label>
                  <input formControlName="mobileNumber" matInput maxlength="11"  >
                  <mat-error *ngIf="f.mobileNumber.hasError('maxLength')">Max 11 charecter</mat-error>
                  <mat-error *ngIf="f.mobileNumber.hasError('pattern')">Please input a valid number</mat-error>
              </mat-form-field>
              <mat-form-field class="col-gender" appearance="fill">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender" required>
                  <mat-option>--</mat-option>
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Female">Female</mat-option>
                  <mat-option value="Others">Others</mat-option>
                </mat-select>
                <mat-error *ngIf="f.gender.hasError('required')">Required</mat-error>
            </mat-form-field>
              <mat-form-field class="col-age" appearance="fill">
                <mat-label>Age</mat-label>
                <input formControlName="age" matInput maxlength="3">
                <mat-error *ngIf="f.age.hasError('pattern')">Please input a valid number</mat-error>
            </mat-form-field>
              <mat-form-field class="col-doB" appearance="fill">
                <mat-label>Date Of Birth</mat-label>
                <input formControlName="doB" matInput [matDatepicker]="picker" (dateChange)="calculateAge()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="f.doB.hasError('required')">Please choose a Date</mat-error>
              </mat-form-field>
            <mat-form-field class="col-maritalStatus" appearance="fill">
                <mat-label>Marital Status</mat-label>
                <mat-select formControlName="maritalStatus">
                  <mat-option>--</mat-option>
                  <mat-option value="Married">Married</mat-option>
                  <mat-option value="Single">Single</mat-option>
                  <mat-option value="Widowed">Widowed</mat-option>
                  <mat-option value="Separated">Separated</mat-option>
                  <mat-option value="Divorced">Divorced</mat-option>
                </mat-select>
                <mat-error *ngIf="f.maritalStatus.hasError('required')">Required</mat-error>
            </mat-form-field>
            <mat-form-field class="col-bloodGroup" appearance="fill">
                <mat-label>Blood Group</mat-label>
                <mat-select formControlName="bloodGroup">
                  <mat-option>--</mat-option>
                  <mat-option value="O+">O+</mat-option>
                  <mat-option value="O-">O-</mat-option>
                  <mat-option value="A+">A+</mat-option>
                  <mat-option value="A-">A-</mat-option>
                  <mat-option value="B+">B+</mat-option>
                  <mat-option value="B-">B-</mat-option>
                  <mat-option value="AB+">AB+</mat-option>
                  <mat-option value="AB-">AB-</mat-option>
                </mat-select>
                <mat-error *ngIf="f.bloodGroup.hasError('required')">Required</mat-error>
            </mat-form-field>
            <mat-form-field class="col-note" appearance="fill">
              <mat-label>Note</mat-label>
              <textarea cdkTextareaAutosize matInput formControlName="note"></textarea>
              <mat-error *ngIf="f.note.hasError('required')">Required</mat-error>
              <mat-error *ngIf="f.note.hasError('maxlength')">Maximum 300 Charecter</mat-error>
            </mat-form-field>
<!-- checkBox -->
            <mat-checkbox formControlName="primaryMember" class="col-primaryMember">Primary Member</mat-checkbox><br>

            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
<!-- Patient Vital -->
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field  appearance="fill">
              <mat-label>Body Temparature (&#176;F)</mat-label>
              <input formControlName="bodyTemparature" maxlength="3" matInput >
              <mat-error *ngIf="f.bodyTemparature.hasError('pattern')">Please input a valid number</mat-error>
          </mat-form-field>
          </td>
          <td>
            <mat-form-field  appearance="fill">
              <mat-label>Weight (Kg)</mat-label>
              <input formControlName="weight" matInput maxlength="3">
              <mat-error *ngIf="f.weight.hasError('pattern')">Please input a valid number</mat-error>
              <mat-error *ngIf="f.weight.hasError('required')">Required</mat-error>
            </mat-form-field>
          </td>
          <td>
            <p style="float: right;">Height: </p>
         </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Feet</mat-label>
              <mat-select formControlName="heightFeet">
                <mat-option *ngFor="let heightFeet of heightFeet" [value]="heightFeet.feet">
                  {{heightFeet.feet}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Inch</mat-label>
            <mat-select formControlName="heightInches">
              <mat-option *ngFor="let heightinch of heightInch" [value]="heightinch.inch">
                {{heightinch.inch}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>

        <td>
          <mat-form-field  appearance="fill">
            <mat-label>Pulse Rate (bpm)</mat-label>
            <input formControlName="pulseRate" matInput  maxlength="4">
            <mat-error *ngIf="f.pulseRate.hasError('pattern')">Please input a valid number</mat-error>
            <mat-error *ngIf="f.pulseRate.hasError('required')">Required</mat-error>
        </mat-form-field>
        </td>
        <td>
          <mat-form-field  appearance="fill">
            <mat-label>SpO2 (%)</mat-label>
            <input maxlength="4" formControlName="spO2" matInput >
            <mat-error *ngIf="f.spO2.hasError('pattern')">Please input a valid number</mat-error>
            <mat-error *ngIf="f.spO2.hasError('required')">Required</mat-error>
        </mat-form-field>
        </td>
        <td>
            <mat-label style="float: right;">Blood Pressure:</mat-label>
        </td>
        <td>
          <mat-form-field  appearance="fill">
            <mat-label>Systolic</mat-label>
            <input maxlength="4" formControlName="bloodPressureSystolic" matInput >
            <mat-error *ngIf="f.bloodPressureSystolic.hasError('pattern')">Please input a valid number</mat-error>
            <mat-error *ngIf="f.spO2.hasError('required')">Required</mat-error>
        </mat-form-field>
        </td>
        <td>
          <mat-form-field  appearance="fill">
            <mat-label>Diastolic</mat-label>
            <input maxlength="4" formControlName="bloodPressureDiastolic" matInput >
            <mat-error *ngIf="f.bloodPressureDiastolic.hasError('pattern')">Please input a valid number</mat-error>
            <mat-error *ngIf="f.spO2.hasError('required')">Required</mat-error>
        </mat-form-field>
        </td>
      </tr>
    </table>
        <br/><button class="addbutton" mat-raised-button type="submit">ADD</button>
          </form>    
      </div>
  </body>