<body>
    <app-title [title]="title"></app-title>
    <button mat-button [routerLink]="['../']" >Back</button>
      <div class="loginForm">
          <form [formGroup]="donerAddForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="col-firstName" appearance="fill">
              <mat-label>Name</mat-label>
              <input required formControlName="name" matInput id="firstname" name="firstname">
              <mat-error *ngIf="f.name.hasError('required')">Required</mat-error>
              <mat-error *ngIf="f.name.hasError('maxlength')">Maximum Length 20 Charecter</mat-error>
          </mat-form-field>
            <mat-form-field class="col-mobileNumber" appearance="fill">
              <mat-label>Mobile Number</mat-label>
              <input formControlName="mobileNumber" matInput maxlength="11" id="mobilenumber" name="mobilenumber" required>
              <mat-error *ngIf="f.mobileNumber.hasError('maxLength')">Max 11 charecter</mat-error>
              <mat-error *ngIf="f.mobileNumber.hasError('pattern')">Please input a valid number</mat-error>
          </mat-form-field>
          <mat-form-field class="col-firstName" appearance="fill">
            <mat-label>Address</mat-label>
            <input required formControlName="address" matInput id="address" name="address">
            <mat-error *ngIf="f.address.hasError('required')">Required</mat-error>
            <mat-error *ngIf="f.address.hasError('maxlength')">Maximum Length 40 Charecter</mat-error>
        </mat-form-field>
        <mat-form-field class="col-upazila" appearance="fill">
          <mat-label>Blood Group</mat-label>
          <mat-select formControlName="bloodGroupId" >
            <mat-option [value]="0">--</mat-option>
            <mat-option *ngFor="let bloodGroup of bloodGroups" [value]="bloodGroup.id" >
              {{bloodGroup.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
            <mat-form-field class="col-division" appearance="fill">
              <mat-label>Division</mat-label>
              <!-- (click)="loadUpazilaBySelectDistrict(upazila.id)" -->
              <mat-select formControlName="divisionId" #chooseddivValue (valueChange)="loadDistrictBySelectDivision(chooseddivValue.value)">
                <mat-option [value]="0">--</mat-option>
                <mat-option *ngFor="let division of divisions" [value]="division.id">
                  {{division.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-district" appearance="fill">
              <mat-label>District</mat-label>
              <!-- (click)="loadUpazilaBySelectDistrict(upazila.id)" -->
              <mat-select formControlName="districtId" #choosedValue (valueChange)="loadUpazilaBySelectDistrict(choosedValue.value)">
                <mat-option [value]="0">--</mat-option>
                <mat-option *ngFor="let district of districts" [value]="district.id">
                  {{district.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-upazila" appearance="fill">
              <mat-label>Upazila</mat-label>
              <mat-select formControlName="upazilaId" >
                <mat-option [value]="0">--</mat-option>
                <mat-option *ngFor="let upazila of upazilas" [value]="upazila.id" >
                  {{upazila.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

                  <br/><button mat-raised-button class="addbutton" type="submit">ADD</button>
              
          </form>    
      </div>
  </body>